@charset "utf-8";

:root {
    --text-color: #2ae6ff;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #001f25;
}


h2 {
    font-size: 6rem;
    color: transparent;
    -webkit-text-stroke: 2px var(--text-color); 
    /* -webkit-text-stroke is supported by all browsers https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke#browser_compatibility */
    text-transform: uppercase;
    cursor: default;
    line-height: 1em;
    height: 1em;
    /* giving h2 a fixed height prevents the bug where the text jitters when you hover over it */
}

h2 span {
    display: inline-flex;
    filter: drop-shadow(0 0 15px var(--text-color));
}

h2 span + span {
    overflow: hidden;
    /* display: inline-flex in the above CSS rule set and overflow:hidden here hide the 2nd span element in each h2*/
    letter-spacing: -1em;
    transition: letter-spacing 0.5s ease-in-out;
}

h2:hover span + span {
    letter-spacing: 0;
    color: var(--text-color);
}